---

package:
  iptables:
    installed: true

file:
  /etc/firewall-start-rules:
    exists: true
    mode: "0744"
    owner: root
    group: root
    filetype: file

file:
  /etc/firewall-stop-rules:
    exists: true
    mode: "0744"
    owner: root
    group: root
    filetype: file

file:
  /etc/init.d/firewall:
    exists: true
    mode: "0755"
    owner: root
    group: root
    filetype: file

service:
  firewall:
    # required attributes
    enabled: true
    running: true