---
# defaults file for postgres
postgres_port: 5432
postgres_network_interface: "eth0"
postgres_iptables_enabled: False
postgres_goss_enabled: False
postgres_listen_addresses: "*"
postgres_version: 9.4
postgres_conf_dir: "/etc/postgresql/{{postgres_version}}/main"
postgres_additionnal_conf_dir: "/etc/postgresql/{{postgres_version}}/conf.d"
postgres_server_pkg: "postgresql-{{postgres_version}}"
postgres_client_pkg: "postgresql-client-{{postgres_version}}"
postgres_conf_files:
  - { src: "postgresql.conf.j2", dest: "{{ postgres_conf_dir }}/postgresql.conf" }
  - { src: "preload.conf.j2", dest: "{{ postgres_additionnal_conf_dir }}/preload.conf" }
  - { src: "pg_hba.conf.j2", dest: "{{ postgres_conf_dir }}/pg_hba.conf" }

